@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-background-black: #101014;
    --color-background-grey: #18181C;
    --color-text-grey: #AEAEB0;
    --color-textfield-grey: #242428;
    --color-text-baby-blue: #26BBFF;
    --color-button-grey: #444448;
}

div {
    color: #AEAEB0;
}

table {
    border-collapse: collapse;
}
td {
    color: #AEAEB0;
    border-top: 1px solid #AEAEB0;
}

th {
    color: #AEAEB0;
}